@font-face {
  font-family: "iconfont"; /* Project id 4847747 */
  src: url('iconfont.woff2?t=1743332243087') format('woff2'),
       url('iconfont.woff?t=1743332243087') format('woff'),
       url('iconfont.ttf?t=1743332243087') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shopshoppingco:before {
  content: "\e630";
}

.icon-jiantou2:before {
  content: "\e600";
}

.icon-dishini:before {
  content: "\e607";
}

.icon-sousuo:before {
  content: "\e69c";
}

